<div class="container">
    <div><h4> Os melhores restaurantes </h4></div>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img src="../../assets/imagens/comida-japonesa.jpg"></ng-template>  
        <ng-template carouselSlide><img src="../../assets/imagens/feijoada.jpg"></ng-template>  
        <ng-template carouselSlide><img src="../../assets/imagens/pure-frango.jpg"></ng-template>
        <ng-template carouselSlide><img src="../../assets/imagens/hamburger.jpg"></ng-template>
        <ng-template carouselSlide><img src="../../assets/imagens/salada.jpg"></ng-template>
    </owl-carousel-o>
    <br>
</div>