<div class="container margem-superior">
    <div class="form-group box">
        <h3> Login </h3>
        <input id="usuario" type="text" class="form-control" placeholder="Nome do usuário">
        &nbsp;
        <input id="senha" type="password" class="form-control" placeholder="Senha">    
        <br>
        <button (click)="ChangeHome()" class="btn btn-secondary button"> Cancelar </button>
        &nbsp;
        <button (click)="ChangeAdmin()" class="btn btn-primary button"> Entrar </button> <!-- provisóriamente sem validação -->
    </div>
</div>