<body>
    <div class="conteudo">
        <p class="tittle-principal"><b> Tudo pra facilitar seu dia a dia </b></p>
        <p class="tittle-secundario">O que você precisa está aqui. Peça e receba onde estiver.</p>

        <div class="container">
            <div class="row input-buscar">
                <div class="col-md-8">
                    <span class="material-icons icon-placeholder">fmd_good</span>
                    <input type="text" class="form-control search-bar" placeholder="Endereço de entrega e número">
                </div>
                <div class="col-md-1">
                    <button class="button-red"> Buscar </button>
                </div>
            </div>
        </div>
    </div>
</body>


<!-- imagens com links -->
<div class="container img-link-cima"> 
    <div class="row">
        <div class="col-md-12">
            <a href=""><img class="img-cima" src="../../assets/imagens/comida-japonesa.jpg"></a>
            <a href=""><img class="img-cima" src="../../assets/imagens/comida-japonesa.jpg"></a>
        </div>
    </div>
</div>

<div class="container img-link-baixo"> 
    <div class="row">
        <div class="col-md-12">
            <a href=""><img class="img-baixo" src="../../assets/imagens/feijoada.jpg"></a>
            <a href=""><img class="img-baixo" src="../../assets/imagens/feijoada.jpg"></a>
            <a href=""><img class="img-baixo" src="../../assets/imagens/feijoada.jpg"></a>
        </div>
        
    </div>
</div>

<hr size="1" width="95%" noshade class="linha">

<div class="container">
    <div><h4> Os melhores restaurantes </h4></div>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img class="img-carousel" src="../../assets/imagens/comida-japonesa.jpg"></ng-template>  
        <ng-template carouselSlide><img class="img-carousel" src="../../assets/imagens/feijoada.jpg"></ng-template>  
        <ng-template carouselSlide><img class="img-carousel" src="../../assets/imagens/pure-frango.jpg"></ng-template>
        <ng-template carouselSlide><img class="img-carousel" src="../../assets/imagens/hamburger.jpg"></ng-template>
        <ng-template carouselSlide><img class="img-carousel" src="../../assets/imagens/salada.jpg"></ng-template>
    </owl-carousel-o>
    <br>
</div>